@using OBMCShopApp.ViewModels

<section>
    <SfGrid DataSource="@Products"  AllowPaging="true" AllowSorting="true">
        <GridPageSettings PageSize="10"></GridPageSettings>
        <GridColumns>
            <GridColumn Field="@nameof(ProductIndexViewModel.ProductID)" HeaderText="Product ID"></GridColumn>
            <GridColumn Field="@nameof(ProductIndexViewModel.Name)" HeaderText="Product Name"></GridColumn>
            <GridColumn Field="@nameof(ProductIndexViewModel.RetailPrice)" HeaderText="Selling Price" Format="C2"></GridColumn>
            <GridColumn Field="@nameof(ProductIndexViewModel.CostPrice)" HeaderText="Cost Price" Format="C2"></GridColumn>
            <GridColumn Field="@nameof(ProductIndexViewModel.SupplyDate)" HeaderText="Supply Date" Width="100"></GridColumn>
        </GridColumns>
    </SfGrid>
</section>

@code {
    [Parameter]
    public List<ProductIndexViewModel> Products { get; set; }

    //protected override Task OnInitializedAsync() => base.OnInitializedAsync();
    protected override void OnInitialized()
    {
        //Console.WriteLine(Products.Count);
    }
}
